.landing_page {
  // padding-top: 2rem;
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    // padding-top: 0;
    .about_section {
      display: flex;
      flex-direction: row !important;
      gap: 32px;
      .personal_image_wrapper {
        position: relative;
        max-width: 300px;
        // height: 100%;
        img {
          object-fit: cover;
          opacity: 1;
          bottom: 0;
          height: auto;
          left: 0;
          margin: 0;
          max-width: none;
          padding: 0;
          right: 0;
          top: 0;
          width: 100%;
          border-radius: 8px;
        }
      }
    }
  }
  // padding-bottom: 6rem;
  .hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    .my_techs {
      display: flex;
      gap: 16px;
      margin-top: 32px;
      img {
        // width: 50px;
      }
    }
  }
  .intro_img {
    max-height: 500px;
  }
  section {
    max-width: 900px;
  }
  .about_section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .about_section_desc {
      order: 1;
    }
    .personal_image_wrapper {
      order: 0;
      position: relative;
      max-width: 300px;
      margin: auto;
      img {
        object-fit: cover;
        opacity: 1;
        bottom: 0;
        height: auto;
        left: 0;
        margin: 0;
        max-width: none;
        padding: 0;
        right: 0;
        top: 0;
        width: 100%;
        border-radius: 8px;
      }
    }
  }

  .my_clients {
    margin-top: 90px;
    ul {
      list-style: none;
      display: flex;
      gap: 75px;
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .skills_list {
    ul {
      list-style: none;
      display: flex;
      gap: 32px;
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100px;
        height: 100px;
        border-radius: 6px;
        transition: all 0.6s;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05),
          0 0 3px 0 rgba(0, 0, 0, 0.1);
        text-align: center !important;
        img {
          height: 32px;
        }
        .skill_name {
          font-size: 15px;
          color: black;
          font-weight: 600;
          margin-top: 12px;
        }
      }
    }
  }
  p {
    margin: 20px 0px 0px;
    max-width: 600px;
  }
}
