.my_previous_jobs {
  min-height: 450px;
  .job_tab {
    display: flex;
    gap: 32px;
    flex-direction: column;
    .tab_list {
      overflow: auto;
      ul {
        display: flex;
        flex-direction: row;
        width: max-content;
        li {
          font-size: 14px;
          padding: 8px 16px;
          cursor: pointer;
          border-bottom: 2px solid var(--lightest-navy);
          border-left: 0;
          &:hover {
            color: var(--primary-color);
            background: #ffffff1a;
          }
          &.tab_selected {
            border-bottom: 2px solid var(--primary-color);
            color: var(--primary-color);
          }
        }
      }
    }
    .tab_content {
      h5 {
        margin-bottom: 2px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
        color: var(--lightest-slate);
      }
      .tab_content_job_desc {
        ul {
          li {
            position: relative;
            padding-left: 30px;
            margin-bottom: 10px;
            font-size: 14px;
            &::before {
              content: "▹";
              position: absolute;
              left: 0px;
              color: var(--primary-color);
            }
          }
        }
      }
      .range {
        margin-top: 0px;
        margin-bottom: 24px;
        // font-family: var(--font-mono);
        font-size: 14px;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .job_tab {
      flex-direction: row;
      .tab_list {
        overflow: inherit;
        ul {
          display: inline;
          flex-direction: column;
          li {
            font-size: 14px;
            padding: 8px 16px;
            cursor: pointer;
            border-left: 2px solid var(--lightest-navy);
            border-bottom: 0px solid var(--lightest-navy);
            min-width: 200px;
            &:hover {
              color: var(--primary-color);
              background: #ffffff1a;
            }
            &.tab_selected {
              border-left: 2px solid var(--primary-color);
              border-bottom: 0px solid var(--lightest-navy);
              color: var(--primary-color);
            }
          }
        }
      }
      .tab_content {
      }
    }
  }
}
